[Unit]
Description=simult-server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c "exec /usr/local/bin/simult-server -c /etc/simult/server.yaml -m :1234 &>> /var/log/simult/server.log"
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -s SIGHUP $MAINPID
Restart=on-failure
SuccessExitStatus=0
TimeoutStartSec=3s
TimeoutStopSec=5s
User=simult
Group=simult
WorkingDirectory=/etc/simult
LimitNOFILE=1024
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SYS_RESOURCE
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SYS_RESOURCE

[Install]
WantedBy=multi-user.target
